<hello name2="{{ name1 }}"></hello>
<p>
March 30, 2021
To Whom it May Concern:

It is my pleasure to recommend John Jara. John is currently an A.A.S. student majoring in Internet and Information Technology at the City University of New York (CUNY) / Queensborough Community College. As part of his degree requirements, John has taken several of my courses on application development and cloud computing. 

John is an excellent student. He is highly intelligent, has good analytical skills and has done very well in my courses. He is disciplined, focused and self-directed.  Over the years, John has shown great commitment to his studies, consistently going well beyond the course requirements in the quantity and quality of his work.  I’ve always been impressed with his performance, maturity and attitude.

Recently, John distinguished himself as being one handful of students throughout CUNY to have achieved the difficult and prestigious AWS Cloud Practitioner Certification. This is all the more impressive because he accomplished it as an Early College student. This accomplishment demonstrates everything that’s special about John, academic focus, commitment, and persistence.

On a personal level, he is a well-disciplined, industrious student with a pleasant personality and excellent communication skills. John works well with others, is very well mannered, and takes direction well - very coachable. 

Consequently, John is one of our top students. Based on his performance, I have no hesitations in recommending him and believe he will be an extremely positive asset to your program.  Any college that is fortunate enough to enroll John will find him a fantastic student and future alumnus.

Michael D. Lawrence
Queensborough Community College
Engineering Technology Department

</p>